@model MeetingRoomManagement2.Models.DTo.AddParticipantViewModel

<h2>Add Participant to Booked Room</h2>

<form asp-controller="Admin" asp-action="AddParticipant" method="post">
    <div class="form-group">
        <label for="UserId">Select Participant:</label>
        <select class="form-control" asp-for="UserId">
            <option value="">Select Participant</option>
            @foreach (var participant in Model.AvailableParticipants)
            {
                <option value="@participant.Name">
                    @(participant != null ? $"{participant.Name} ({participant.UserName})" : "Unknown Participant")
                </option>
            }
        </select>
    </div>

    <input type="hidden" asp-for="Booking.ID" />

    <button type="submit" class="btn btn-primary">Add Participant</button>
</form>
<table>
    <td> <a asp-controller="Admin" asp-action="GetBookingDetails" asp-route-id="@Model.Booking.ID">Back to Booking Details</a> </td>

</table>

